.sidebar-container {
    width: 280px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

/* Centrage du logo */
.sectionLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px #000000;
}

.logo {
    margin:10px 0;
    width: 50px;
    height: 50px;
    display: block;
}

/* Centrage des liens */
.nav-pills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
}

.nav-pills .nav-item {
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.nav-pills .nav-link {
    text-align: center;
    width: 100% !important; /* Les boutons occupent 100% de la largeur de leur conteneur */
   
}

/* Styles des liens */
.nav-pills .nav-link.active {
    background-color: #828282;
    color: white;
}

.nav-pills .nav-link {
    color: #212529;
}

.nav-pills .nav-link:hover {
    background-color: #e9ecef;
}


.nav li{
    width: 100% !important;
}


/* Dropdown menu */
.dropdown-menu {
    padding: 0.5rem 0;
}

.dropdown-item {
    padding: 0.25rem 1rem;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-divider {
    margin: 0.5rem 0;
}

.options{
    border-top: solid 1px #000000;
    width: 100% !important;
}
